.candidate-container {
  display: grid;
  grid-template-columns: minmax(350px, 1fr) minmax(250px, 437px);
  width: 100%;
  background: var(--N100, #f8f9fa);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loading-spinner {
  font-size: 18px;
  color: #666;
}

@media (max-width: 1024px) {
  .candidate-container {
    grid-template-columns: 1fr;
  }
}
